html, body {
  background-color: #fff;
  //background-image: url('/images/puglicking.gif'); //put this on carousel item
  background-size: cover;
  background-repeat: no-repeat;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  width: 100%;
  margin: 0;
  cursor: url('/images/tennis.png') -60 -60, auto !important;



}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;

}

#rc{

    border:1px solid #d3d3d3;
    background-color: #f1f1f1;

}


.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

footer{
  position: absolute;
  bottom: 0;
}